name: Build Go
on:
  push:
    branches: [ 'main', 'master', 'feature/*', 'releases/*' ]
    paths-ignore:
      - 'docs/**'
      - 'README.md'
    # paths-ignore is ignored for tags
    tags: [ 'v*' ]
  workflow_dispatch:
    inputs:
      ref:
        description: 'Git ref to build (e.g., v1.0.0)'
        required: false
        default: ''
        type: string

permissions:
  contents: write
  packages: write

jobs:
  build:
    uses: jimschubert/.workflows/.github/workflows/go-build-goreleaser.yml@main
    with:
      golangci-lint: "v2.7.2"
    secrets: inherit
