name: Build Go
on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    uses: jimschubert/.workflows/.github/workflows/go-pr.yml@main
    with:
      golangci-lint-version: "v2.7.2"
    secrets: inherit
